


/* form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
  } */
  input[type="search"] {
    border: none;
    background:#fff;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #fff;
  }
 .new-btn{
    border:none;
    padding:0;
    margin:0;
    background-color:#eee;
    width:50px;
 }
/* .form-control{
  border:none !important;
  border-radius:0;
} */
.form-control:focus{
box-shadow:none;
}
.sv-icon{
  margin:auto;
  margin-left:3px;
}
.loc{
  margin-right:25px;
}
.feat-cars{
  padding-top:24px;
  text-align:left;
}
.card-left{
  margin:10px;
  padding:0;
  text-align:left;
}
.card{
  cursor:pointer;
}
.wrapper{
  width:800px;
  height:400px;
  text-align:left;
  margin:0 auto;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  background:white;
  margin-top: 50px;
 
  display: flex;
}
.login{
  padding:20px 20px;
 width:400px ;
 
  
  align-items: center;
  justify-content:center;
  
  
}
.image{
 padding:none;
  width:400px;
  
  
  
  
}
label{
  text-align:left;
  font-size:12px;
}
.form-sign{
  width:500px;
  height:400px;
  margin:0 auto;
  border:1px solid #eee;
  padding:10px 10px;
  margin-top:50px;
  background-color: aqua;

}
/* input{
  margin-top:30px;
} */
.form-center{
  margin:auto;
  margin-top:10px;
}
.form-control{
  border:1px solid #eee;
  padding:20px 10px 10px 10px;
  background:rgba(204, 191, 191, 0.295);
}
#carouselExampleFade{
  max-height: 200px;
}
.navbar-nav li{
  list-style-type: none;

}
.navbar-nav li a{
  text-decoration:none;
  color:#fff
}
.navbar-nav li a:hover{
  color:#FAA26F;
}